name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [16]

    name: Pylint and Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install Node dependencies
        run: yarn --cwd magnifying_glass/frontend --frozen-lockfile

      - name: Build
        run: yarn --cwd magnifying_glass/frontend build

      - name: Python Packages
        run: pip install -r requirements.txt

      - name: Pylint Files
        run: pylint *.py

      - name: Pylint NAP
        run: pylint nap

      - name: Pylint Magnifying Glass Server
        run: pylint magnifying_glass/backend/server.py
